<div class="d-flex justify-content-center">
  <div class="not-found-container">
    <h3 class="not-found-title">404 - Page not found</h3>
    <p class="not-found-message">
      We can't seem to find a page with that URL. It is also possible that page was removed. Try double-checking your URL or going to <a href="/">Home</a>.
    </p>
    <hr class="not-found-divider" />
    <p class="not-found-message">
      Here are some links you may find helpful:
    </p>
    <ul class="not-found-list">
      <li class="not-found-list-item">
        <a href="https://github.com/JulioPerezTR/TR-Hackathon-API">Help documentation</a>
      </li>
    </ul>
  </div>
</div>
