<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Average</h4>
        <div class="small text-medium-emphasis">2008 - 2023</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="averageRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input class="btn-check" formControlName="averageRadio" type="radio" value="Min"/>
            <label (click)="setTypeData('Min')" cButton cFormCheckLabel color="secondary" variant="outline">Min</label>

            <input class="btn-check" formControlName="averageRadio" type="radio" value="Average"/>
            <label (click)="setTypeData('Average')" cButton cFormCheckLabel color="secondary" variant="outline">Average</label>

            <input class="btn-check" formControlName="averageRadio" type="radio" value="Max"/>
            <label (click)="setTypeData('Max')" cButton cFormCheckLabel color="secondary" variant="outline">Max</label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >Main chart
    </c-chart>
  </c-card-body>
</c-card>
